/* Default styles for navbar */
.navbar {
  background-color: #ffffff;
  color: #000000;
  font-size: 12px;
  height: 62px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar .navbar-brand {
  display: flex;
  align-items: center;
  margin-right: 0;
}

.navbar .search-form {
  position: relative;
  width: 280px;
  display: flex;
  align-items: center;
}

.navbar .search-container {
  position: relative;
  width: 100%;
  margin-right: 20px;
}

.navbar .bi-search {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #999;
}

.navbar .search-input {
  background-color: #edf3f8;
  border: 1px solid #d1d1d1;
  padding-left: 30px;
  font-size: 12px;
}

.navbar .nav-link {
  color: #4d4d4d;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.navbar .nav-link:hover {
  color: #000000;
}

.navbar .prova-premium {
  color: #b37d00;
  border-color: #b37d00;
}

.navbar .prova-premium:hover {
  color: #b37d00;
}

.nav-divider {
  width: 1px;
  height: 60px;
  background-color: #d1d1d1;
  margin: 0 10px;
  align-self: center;
}

.dropdown-toggle {
  color: #4d4d4d;
  font-size: 12px;
}

.dropdown-toggle:hover {
  color: #000000;
}

.dropdown-toggle .mb-1 {
  color: #4d4d4d;
}

.dropdown-toggle:hover .mb-1 {
  color: #000000;
}

.dropdown-menu {
  color: #4d4d4d;
  font-size: 12px;
}

.dropdown-item:hover {
  color: #000000;
}

.prova-premium {
  text-decoration: underline;
}

#nav-dropdown-tu::after {
  display: none;
}

#nav-dropdown-aziende::after {
  display: none;
}

.dropdown-menu .dropdown-col {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.dropdown-menu .section-title {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
  padding-left: 10px;
}

.dropdown-menu .dropdown-divider {
  margin: 0.5rem 0;
}

.dropdown-item {
  display: flex;
  align-items: center;
}

.dropdown-item img,
.dropdown-item svg {
  margin-right: 10px;
}

.dropdown-menu {
  width: 800px;
  padding: 20px;
  height: 700px;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-dividers {
  width: 1px;
  height: 650px;
  background-color: #d1d1d1;
  margin: 0 10px;
  align-self: center;
}

.dropdown2 .dropdown-menu {
  width: 800px;
  padding: 10px;
  height: auto;
  font-size: 14px;
}

.small-dropdown .dropdown-menu {
  width: 264px !important;
  height: 470px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bottone:hover {
  background-color: #004182;
  border: 2px solid #004182;
}

.bottone {
  border-radius: 25px;
}

.small-dropdown .dropdown-menu .testo-piccolo {
  font-size: 13px;
  color: #666666;
}

/* Media queries for responsiveness */
@media (max-width: 991.98px) {
  .navbar .search-form {
    width: auto;
  }
  
  .navbar .search-input {
    width: 150px; /* Adjust as necessary */
  }
  
  .navbar .nav-link {
    margin-left: 20px;
  }
}

@media (max-width: 767.98px) {
  .navbar .navbar-brand {
    margin-right: auto;
  }
  
  .navbar .search-form {
    display: none;
  }
  
  .navbar .nav-link {
    margin-left: 10px;
  }
  
  .navbar .prova-premium {
    display: none;
  }
  
  .nav-divider {
    display: none;
  }
  
  .dropdown2 .dropdown-menu,
  .small-dropdown .dropdown-menu {
    width: 100%;
    left: 0 !important;
    right: 0 !important;
    box-shadow: none;
    padding: 10px;
    max-height: calc(100vh - 100px); /* Adjust as necessary */
    overflow-y: auto;
  }
  
  .dropdown-menu .dropdown-col {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  
  .dropdown-menu .section-title {
    padding-left: 0;
  }
  
  .dropdown-item {
    padding: 10px 20px;
  }
  
  .dropdown-item img,
  .dropdown-item svg {
    margin-right: 0;
  }
}
.navbar-collapse {
  background-color: #f8f9fa; 
  flex-grow: 0 !important; /* Prevent full width */
  display: flex;
 

  
}
@media (max-width: 991.98px) { 
 

  .navbar-nav .nav-link {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
  }
}
