.body {
  font-family: "Source Sans 3", sans-serif;
}

/* classe per stilizzare il bottone tratteggiato */
.dashed-border-button {
  border: 2px dashed #116ac4; /* Bordo tratteggiato di 2px e colore nero */
  padding-inline: 10px;
  background-color: white;
  color: #116ac4;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}
.dashed-border-button:hover {
  color: #004081;
  background-color: #ebf4fd;
}

.light-blue {
  color: #116ac4;
}
/****************** classi per bottoni *************************/

.light-blue-button {
  border: 2px solid #116ac4;
  padding-inline: 10px;
  cursor: pointer;
  font-size: 19px;
  background-color: white;
  color: #116ac4;
  transition: 300ms;
}

.light-blue-button:hover {
  background-color: #ebf4fd;
  border: 2px solid #004081;
  color: #004081;
}

.blue-button {
  border: 2px solid #0a66c2;
  padding-inline: 10px;
  cursor: pointer;
  font-size: 19px;
  background-color: #0a66c2;
  color: white;
  transition: 300ms;
}

.blue-button:hover {
  background-color: #004182;
  border: 2px solid #004182;
}

.black-button {
  border: 2px solid #404040;
  padding-inline: 10px;
  cursor: pointer;

  background-color: white;
  color: #404040;
  transition: 300ms;
}

.black-button:hover {
  border: 2px solid #181818;
  color: #181818;
  background-color: #f3f3f3;
}
.svgSize {
  width: 24px;
  height: 24px;
}

.hrPrfileInfo {
  display: block;
  height: 1px;
  width: 100%;
  margin: 0;
}
.imgProfileInfo {
  width: 48px;
  height: 48px;
}

.btnPeaples {
  border: 1px solid black;
  border-radius: 75px;
  transition: 200ms;
}

.btnPeaples:hover {
  border: 2px solid black;
}

.border-secondary {
  border: 2px solid #614949;
}
body {
  background-color: #f4f2ee;
  padding-top: 62px;
}
.competence-link {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s, border-bottom-color 0.3s;
}

.competence-link:hover {
  color: #59b4e9;
  text-decoration: underline;
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fixed-top-bar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  font-size: 14px;
}

.fixed-top-bar.sticky {
  opacity: 1;
  transform: translateY(0);
  animation: fadeInDown 0.7s ease-out;
}
.infoIcon {
  width: 25px;
  height: 25px;
}

.fontPersonale {
  font-size: 1.4rem;
  font-weight: 600;
}
.iconArrow {
  width: 30px;
  height: 30px;
}

.hooverElementLinkedinNotizie {
  background-color: white;
  cursor: pointer;
}
.hooverElementLinkedinNotizie:hover {
  background-color: #ebebeb;
}
.btnVediAltro {
  background-color: #ebebeb;
  border: none;
  display: block;
}
.btnVediAltro:hover {
  background-color: #ebebeb;
}
.bgBadge {
  background-color: #fce3bb;
  border-radius: 6px;
}

.gioghi {
  cursor: pointer;
}

.imgLinkedin {
  width: 23%;
}
.footerText {
  color: #62615f;
}
.footerText:hover {
  cursor: pointer;
  color: #0b66c2;
  text-decoration: underline;
}

.dropDownItems {
  background-color: white;
}
.dropDownItems :hover {
  text-decoration: underline;
  text-decoration-color: #0b65c2;
}
.dropdown-toggle :hover {
  text-decoration: underline !important;
  text-decoration-color: #0b65c2 !important;
}
.dropdown-toggle {
  color: #a4a4a4;
  font-size: 13px;
}

.asideLeftHomePage {
  top: 4%;
}
@media (min-width: 320px) {
  .asideLeftHomePage {
    top: 4%;
  }
}
@media (min-width: 576px) {
  .asideLeftHomePage {
    top: 19%;
  }
}
@media (min-width: 768px) {
  .asideLeftHomePage {
    top: 4%;
  }
}

@media (min-width: 992px) {
  .asideLeftHomePage {
    top: 10%;
  }
}
@media (min-width: 1200px) {
  .asideLeftHomePage {
    top: 12%;
  }
}
.scopriColor {
  font-weight: 800;
  color: #8342ce;
  cursor: pointer;
}
.modalShow {
  transform: translate(0);
  transition: transform 334ms ease-out, opacity 334ms ease-out;
}
.dropdown-item.active,
.dropdown-item:active {
  color: var(--bs-dropdown-link-active-color);
  text-decoration: none;
}
.btn:hover {
  color: var(--bs-btn-hover-color);
}
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #0d6efd;
  --bs-btn-border-color: #0d6efd;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0b5ed7;
  --bs-btn-hover-border-color: #0a58ca;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-border-color: #0a53be;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0d6efd;
  --bs-btn-disabled-border-color: #0d6efd;
}
.asideTextIcon:hover {
  text-decoration: underline;
  cursor: pointer;
}

.btnMyNavbar {
  border: 1px solid;
  border-color: #0b65c2;
  font-weight: 600;
}

.btnMyNavbar:hover {
  border: 3px solid;
  border-color: #004182;
}

.linktextprofile {
  color: #0b65c2;
}
