/* classe per stilizzare il bottone tratteggiato */
.dashed-border-button {
  border: 2px dashed #116ac4; /* Bordo tratteggiato di 2px e colore nero */
  padding-inline: 10px;
  background-color: white;
  color: #116ac4;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}
.light-blue {
  color: #116ac4;
}
/****************** classi per bottoni *************************/

.light-blue-button {
  border: 2px solid #116ac4;
  padding-inline: 10px;
  cursor: pointer;
  font-size: 19px;
  background-color: white;
  color: #116ac4;
  transition: 300ms;
}

.light-blue-button:hover {
  background-color: #ebf4fd;
  border: 3px solid #004081;
  color: #004081;
}

.blue-button {
  border: 2px solid #0a66c2;
  padding-inline: 10px;
  cursor: pointer;
  font-size: 19px;
  background-color: #0a66c2;
  color: white;
  transition: 300ms;
}

.blue-button:hover {
  background-color: #004182;
  border: 2px solid #004182;
}

.black-button {
  border: 2px solid #404040;
  padding-inline: 10px;
  cursor: pointer;
  font-size: 19px;
  background-color: white;
  color: #404040;
  transition: 300ms;
}

.black-button:hover {
  border: 2px solid #181818;
  color: #181818;
  background-color: #f3f3f3;
}
.svgSize {
  width: 24px;
  height: 24px;
}

.hrPrfileInfo {
  display: block;
  height: 1px;
  width: 100%;
  margin: 0;
}
.imgProfileInfo {
  width: 48px;
  height: 48px;
}

.btnPeaples {
  padding-top: 5px;
  border: 1px solid black;
}

.btnPeaples:hover {
  border: 20px solid black;
}
